body {
  padding-top: 105px;
  background-color: #000;
  
}

nav {
  background-color: #f0141e;
  opacity: 0.9;

}

#navbar-input {
  width: 300px;
  
}

.center {
  text-align: center;
  margin: 0, auto;
}

.comic-image > img {
  width: 500px;
  height: 282px;
  
}

.comic-details {
  padding: 50px 0px;
  background-color: #fff;
  width: 100%;
}

.comic-title h3 {
  margin-top: 0px;
  margin-bottom: 30px;
}

.comic-thumbnail {
  margin-bottom: 20px; 
}

.comic-catalog {
  background-color: #000;
  margin-top: 50px;
}

.voting-container > span {
  margin: 10px 20px 20px 0px;
  font-size: 25px;
}